label{
    color:green;
    font-family: Cursive;
    font-size:20px;
}
h1{
    color:maroon;
}

.input-div, input{
    background-color: rgb(250,250,250);
    outline:none; 
     border:0;
    width: 225px;
    height:35px;
}
.input-div{
    display: inline;
    position: relative;
    border:2px solid yellow;
    width: 250px;
    height:40px;
    border-radius: 30px;
}
.pass-icon{
    width:28px;
    position: absolute;
    left:205px;
    bottom:5px;
}
.email-icon, .user-icon{
    width:28px;
    position: absolute;
    right:5px;
    bottom:5px;
}

.program-name-input{
    border: 3px solid yellow;
    color: maroon;
    width:90%;
    border-radius: 40px;
    padding:3px;
    margin:3px;
}
::placeholder{
    color:maroon;
}
.program-category{
    border: 3px solid yellow;
    color: maroon;
    width:90%;
    border-radius: 40px;
    padding:3px;
    margin:3px;
}
.program-language{
    border: 3px solid yellow;
    color: maroon;
    width:90%;
    border-radius: 40px;
    padding:3px;
    margin:3px;
}
.file-upload{
    border: 3px solid yellow;
    color: maroon;
    width:90%;
    height:50px;
    border-radius: 40px;
    padding:3px;
    margin:3px;
}
input[type=file]::-webkit-file-upload-button{
    width:30%;
    border: 3px solid maroon;
    border-radius: 40px;
    color: maroon;
    margin:3px;
    padding:3px;
}