.login-signin-label{
    color:Yellow;
    font-family: Poppins;
    font-size:20px;
}
.login-signin-header{
    color: white;
    font-family: Poppins;
}

.editor-theme-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: whitesmoke;
    margin-bottom: 0;
    padding: 5px;
    gap:5px;
}
.light-theme-button{
    border: 1px solid black;
}
.left-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 50%;
}

.divider-line{
    background: white;
    height: 2px;
    border: none;
}

.input-tag{
    background-color: rgba(40, 40, 43, 0.6);
    border-radius: 50px;
    color: white;
}
.input-tag::placeholder{
    color: white; 
}
.form-text{
    color: white;
}
.google-login-button{
    width: 100px;
}
.success-alert, .failure-alert, .name-alert, .email-alert-1 ,.email-alert-2 , .password-alert{
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}
.right-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}