.coder_image{
    width:350px;
    height:350px;
}
.website_logo{
    height:200px;
}
.guide-container{
    margin-top:5px;
    display: flex;
    flex-direction: row;
    gap:3px;
    justify-content: space-evenly;

}
.guide{
    width:350px;
    height:220px;
    border-radius: 30px;
    background-color:rgba(21, 0, 64, 0.7);
    color:white;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* justify-content: center; */
    z-index: 10;
    transition: transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;

}
.guide p{
    margin:2px;
    margin-top:3px;
    padding:3px;
    font-family: cursive;
    font-style:bold;
}
.guide h5{
    margin:2px;
    padding:2px;
    font-family:serif;
    font-style: bold;
}
.guide:hover{
    transform: scale(1.08); /* Magnify by 20% */
    box-shadow: 0px 10px 15px rgba(0, 235, 255, 0.8);
}
.info-coder-img-div{
    display:flex; flex-direction:row; gap:5px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    margin-top:20px;
}
.info-div{
    display: flex;
    flex-direction: column;
    color:aliceblue;
    font-family: serif;

}
.info-div>h5>span{
    color:yellow;
}

/* .info-div ul{
    list-style: none;
} */
.info-div>ul>li>a{
    text-decoration: none;
}
@media (min-width:650px) and (max-width:912px){
    .coder_image{
        width:300px;
        height:300px;
    }
    .website_logo{
        height:200px;
    }
}

@media (min-width:450px) and (max-width:650px){
    .coder_image{
        width:250px;
        height:250px;
    }
    .website_logo{
        height:180px;
    }
    .typewriter h3{
        font-size: 15px;
    }
    .guide-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .info-coder-img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:5px;
    }
}
@media (max-width: 450px){
    .coder_image{
        width:230px;
        height:230px;
    }
    .website_logo{
        height:130px;
    }
    .typewriter h3{
        font-size: 10px;
    }
    .guide-container{
        display: flex;
        flex-direction: column;
        gap:5px;
    }
    .info-coder-img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:5px;
    }
}



 .typewriter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
}
.typewriter h3{
    color:white;
}
.typewriter {
    display: inline-block;
    height: 30px;
    font-weight: bold;
    opacity: 0;
    white-space: nowrap;
    border-right: 3px solid transparent;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;

    overflow: hidden;
    margin-bottom: 20px;
    animation-iteration-count: infinite;
  }

  

  @keyframes typing {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }
  

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  } 

   