.coder_image{
    width:350px;
    height:350px;
}
.website_logo{
    height:500px;
}
@media (min-width:650px) and (max-width:912px){
    .coder_image{
        width:300px;
        height:300px;
    }
    .website_logo{
        height:400px;
    }
}

@media (min-width:450px) and (max-width:650px){
    .coder_image{
        width:250px;
        height:250px;
    }
    .website_logo{
        height:250px;
    }
}
@media (max-width: 450px){
    .coder_image{
        width:230px;
        height:230px;
    }
    .website_logo{
        height:230px;
    }
}